env_sab/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
db.sqlite3
*.log
*.DS_Store
.git/
.gitignore
.dockerignore
.env
.env.*
.vscode/
.idea/
media/uploads/
staticfiles/
*.md
!README.md
node_modules/
*.tar
*.rar
*.zip
*.bak
walkthrough.md
known_issues.md
requirements copy.txt
