*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
/env
/env_sab
env
env_sab
/staticfiles/

#src
#*.sqlite*
.env_sab
.env
node_modules
*.tar
*.rar
requirements copy.txt
requirements_anaconda.txt
updates-2025-08-19.txt
requirements copy.txt
