*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
/env
/env_sab
env
env_sab
/staticfiles/

#src
*.sqlite*
.env_sab
.env
node_modules
*.tar
*.rar
*.sqlite3
requirements_anaconda.txt
updates_2025_08_19.txt
*.sqlite3
requirements_copy.txt
